*{
    margin: 0;
    padding: 0;
}
.bannerwrap{
    width: 100%;
    height: 100vh;
    background-image: url(../flowerpic/A18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
}

.logo_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    height: 10vh;
    padding: 15px 0px;
    margin: auto;
    border-bottom: 1px solid black;
}
.logo_pic{
    width: 80%;
    transform:translateX(-50px) ;
    min-width: 200px;
}
.logo_pic img{
    width: 100%;
    overflow: hidden;
}
.logo_navbar .logo_list{
    display: flex;
}
.logo_navbar button{
  display: none;
}
.logo_navbar .hamburger_wrap{
  display: none;
}
.logo_list li{
    list-style: none;
}
.logo_list li a{
    text-decoration: none;
    color: #4A4B3B;
    padding: 0px 10px;
    font-family: 'Playfair Display', serif;
    transition: .3s ease-in;
    white-space: nowrap;
}
.logo_list li a:hover{
   font-style: italic;
   color: #4A4B3B;
   filter:drop-shadow(1px 1px 1px gray) ;
   transition: .3s ease-in;
}
.logo_story{
    width: 80%;
    max-width: 1200px;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.banner_text{
    width: 25%;
    font-size: 20px;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: lighter;
    color: #4A4B3B;
}
.aboutus_wrap{
    width: 100%;
    background-color:#F1EDE5;
}
.aboutus_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.aboutus_content .aboutus_item{
    margin-top: 100px;
    align-items: center;
    padding-bottom: 100px;
}
.aboutus_content .prev{
    position: relative;
    max-width: 1200px;
}
.aboutus_content .next{
    position: relative;
    max-width: 1200px;
}
.aboutus_item h1{
    width: 80%;
    text-align: center;
    font-size: 64px;
    padding-bottom: 10px;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
    color: #816D6D;
}

.aboutus_item .pic_text{
    width: 80%;
    font-size: 1em;
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: #816D6D;
}
.aboutus_item .aboutus_pic{
    width: 80%;
    box-sizing: border-box;
    border: 5px solid white;
    filter: drop-shadow(5px 5px 0.5em lightgray);
    overflow: hidden;
}
.aboutus_item .aboutus_pic img{
    width: 100%;
    transition: .8s;
    transform: scale(1);
    vertical-align: bottom;
}
.aboutus_item .aboutus_pic img:hover{
    transition: .8s;
    transform: scale(1.5);
}
.aboutus_item .aboutus_photo{
    width:60%;
    box-sizing: border-box;
    border: 5px solid white;
    filter: drop-shadow(5px 5px 0.5em lightgray);
    overflow: hidden;
}
.aboutus_item .aboutus_photo img{
    width: 100%;
    flex-grow: 3;
    vertical-align: bottom;
    transition: .8s;
    transform: scale(1);
}
.aboutus_item .aboutus_photo img:hover{
    transition: .8s;
    transform: scale(1.5);
}
.aboutus_item .photo_text{
    width:70%;
    flex-grow: 1;
    text-align: left;
    font-family: 'Playfair Display', serif;
    margin:10% 0% 10% 0%;
    color: #816D6D;

}
.aboutus_content .aboutus_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.aboutus_item .leaf_pic{
    width: 40%;
    position: absolute;
    top: -20%;
    left:-20%;
    transform: rotate(20deg);
    
}
.aboutus_item .leaf_pic img{
    width: 100%;
}
.aboutus_item .leaf_photo{
    width: 40%;
    position: absolute;
    bottom: -10%;
    right: -10%;
    transform: rotate(220deg);
}
.aboutus_item .leaf_photo img{
    width: 100%;
}
.owl-carousel{
    width: 100%;
    background-color: #DCD2C3;
  }
  .bestseller{
    background-color: #DCD2C3;
  }
  .bestseller h1{
    text-align: center;
    padding: 5% 0%;
    background-color: #DCD2C3;
    width: 100%;
    font-size: 50px;
    color: #FEF3F3;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 10%;
  }
  .bestseller_slider{
    width: 80%;
    margin: auto;
    padding: 5% 5% 0% 5%;
    box-sizing: border-box;
  }
  .owl-stage-outer{
    margin: auto;
    width: 100%;
  }
  .owl-theme .owl-dots .owl-dot span {
    background-color: #fff;
  }
  .owl-carousel .slider_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    border: 10px solid white;
    background-color: #fff;
  }
  .slider_content .heart{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #b6a286;
    cursor: pointer;
    transition: .3s;
  }
  .slider_content .heart:hover{
    transition: .3s;
    color: red;
  }
  .slider_content .share{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: black;
    cursor: pointer;
  }
  .owl-dots{
    padding-bottom: 5%;
  }
  .maintain_backgroundwrap{
    width: 100%;
    background-color: #fff;
    padding-top: 100px;
  }
  .maintain_wrap{
    width: 80%;
    margin: auto;
    max-width: 1200px;
  }
  .maintain_title{      
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .maintain_title span{
    font-size: 150px;
    display: inline-block;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    position: relative;
    z-index: 0;
    color: #684139;
    transform: translateX(-100px);
    letter-spacing: 5px;
  }

  .maintain_title .maintain_pic{
    width: 100%; 
    position: absolute;
    top: -10%;
    left: 90%;
    z-index: 0;
  }
  .maintain_title .maintain_pic img{
    width: 100%;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray;
  }
  .maintain_subtitle{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    transform: translateX(-100px);
  }
  .maintain_subtitle .subtitle_item{
    display: flex;
    justify-content: center;
  }
  .subtitle_item .subtitle_pic {
    width: 100%;
  }
  .subtitle_item .subtitle_pic img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray;
  }
  .subtitle_item .subtitle_text{
    font-size: 150px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    color: #684139;
    position: relative;
    z-index: 1;
    transform: translateX(-20%);
    letter-spacing: 5px;
  }
  .subtitle_item .subtitle_photo img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray;
  }
  .maintain_subtitle .photo{
    position: relative;
  }
  .maintain_subtitle .subtitle_photo{
    width: 80%;
    
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .maintain_backgroundwrap .maintain_content_title{
    font-size: 48px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    display: block;
    padding: 50px 0%;
  }
  .maintain_content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  .maintain_contetnt_item{
    padding-left: 50px;
  }
  .maintain_content_info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .maintain_content_info .num{
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 50px;
    height: 40%;
    
  }
  .maintain_content_info .title{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    height: 30%;
    box-sizing: border-box;
  }
  .maintain_content_info .text{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    height: 30%;
  }
  .footer_bannerwrap{
    width: 100%;
    background-color: #B6A286;
    padding: 50px 0px;
  }
  .footer_wrap{
    width: 80%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
  }
  .footer_item{
    width: 33.33333%;
    display: flex;
    justify-content: center;
  }
  .footer_item .brandstory .brandstory_title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30px;
  }
  .footer_item .brandstory .brandstory_content{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: center;
  }
  .footer_aboutus .title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    padding-bottom: 30px;
    text-align: left;
  }
  .footer_aboutus nav li{
    list-style: none;
  }
  .footer_aboutus nav li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #000000;
    transition: .3s;
  }
  .footer_aboutus nav li a:hover{
    color: white;
    transition: .3s;
  }
  .footer_business .business_title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    padding-bottom: 30px;
    text-align: left;
  }
  .footer_business .business_info{
    color: #000000;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
  }
  .footer_business .business_content{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #000000;
    padding-bottom: 5px;
  }
  .footer_business .footer_icon{
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
  .footer_icon .ins,.fb{
    width: 10%;
    color: #000000;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    transition: 0.3s;
  }
  .footer_icon .ins:hover{
    color: white;
    transform: rotate(15deg);
    transition: 0.3s;
  }
  .footer_icon .fb:hover{
    color: white;
    transform: rotate(15deg);
    transition: 0.3s;
  }
  .footer_bannerwrap .topbutton{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10%;
    right: 20px;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
  }
  .footer_bannerwrap .topbutton:hover{
    transition: .3s;
    background-color: black;
    color: white;
  }
  .declaration_wrap{
    background-color: #B6A286;
    width: 100%;
    padding: 20px 0px;
  }
  .declaration{
    width: 60%;
    margin: auto;
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
  }




  /* -----------------RWD(768)----------------- */
  @media screen and (max-width:768px){
    .logo_wrap{
      width: 100%;
      max-width:768px;
      border-bottom:none ;
      box-sizing: border-box;
      
  }
  .logo_pic{
      width: 80%;
      transform:translateX(-40px) ;
      min-width: 200px;
  }
  .logo_pic img{
      width: 100%;
  }
  .logo_navbar .logo_list{
      display: none;
  }
  #btn{
    width: 30px;
    height: 25px;
    display: block;
    position: absolute;
    top: 23px;
    right: 10px;
    transition: .5s ease-in-out;
    z-index: 99;
    cursor: pointer;
    border: none;
    background: none;
    box-sizing: border-box;
  }
  #btn span{
    display: block;
    position: absolute;
    left: 0;
    height: 5px; 
    border-radius: 10px;
    width: 100%;
    background: #B6A286;;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  #btn span:nth-child(1) {
    top: 0px;
  }
  #btn span:nth-child(2) {
    top: 10px;
  }
  #btn span:nth-child(3) {
    bottom: 0px;
  }
  #btn.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
  }
  #btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #btn.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
  }
  #hamburger_menu {
      display: block;
      width: 50%;
      height: 100vh;
      background-color:#DCD2C3;
      position: fixed;
      top: 0px;
      transition: right 1s;
      right: -50%;
      z-index: 9;
  }
  #hamburger_menu.open {
      right: 0;
  }
  .hamburger_wrap .hamburger_list{
    list-style: none;
    text-align: center;
    padding: 10px 10px;
    border-top:2px solid white;
    box-sizing: border-box;
  }
  .hamburger_wrap .hamburger_list:first-child{
    border-top: none;
    margin: 73px 0px 0px 0px;
  }
  .hamburger_wrap .hamburger_list a{
    text-decoration: none;
    font-size: 14px;
    color:#4A4B3B;
    font-family: 'Playfair Display', serif;
  }

  .logo_list li{
      list-style: none;
  }
  .logo_list li a{
      text-decoration: none;
      transition: none
  }
  /* .logo_list li a:hover{
    font-style: none;
    color: none;
    filter:none ;
    transition: none;
 } */
  .logo_story{
      width: 80%;
      max-width:768px;
      height: 50%;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }
  .banner_text{
      width: 50%;
      font-size: 16px;
      text-align: center;
      font-family: 'Cinzel Decorative', cursive;
      font-weight: lighter;
      color: #4A4B3B;
  }
  .aboutus_wrap{
      width: 100%;
      background-color:#F1EDE5;
  }
  .aboutus_content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      max-width:768px;
      margin: auto;
      /* background-color: red; */
  }
  .aboutus_content .aboutus_item{
      width: 100%;
      align-items: center;
      padding-bottom: 30px;
  }
  .aboutus_content .aboutus_item:nth-child(1){
    margin-top: 30px;
  }
  .aboutus_content .aboutus_item:nth-child(2){
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  .aboutus_content .prev{
      position: relative;
  }
  .aboutus_content .next{
      position: relative;
  }
  .aboutus_item h1{
      width: 100%;
      text-align: center;
      font-size: 40px;
      padding-bottom: 10px;
      font-weight: lighter;
      font-family: 'Playfair Display', serif;
      color: #816D6D;
  }
  
  .aboutus_item .pic_text{
      width: 100%;
      font-size: 20px;
      text-align: center;
      padding:10px 0px 20px 0px;
      font-family: 'Playfair Display', serif;
      color: #816D6D;
  }
  .aboutus_item .aboutus_pic{
      width: 100%;
      box-sizing: border-box;
      border: 5px solid white;
      filter: drop-shadow(5px 5px 0.5em lightgray);
      overflow: hidden;
  }
  .aboutus_item .aboutus_pic img{
      width: 100%;
      transition: none;
      transform: none;
      vertical-align: bottom;
  }

  .aboutus_item .aboutus_pic img:hover{
    transition: none;
    transform: none;
  }
  .aboutus_item .aboutus_photo{
      width:100%;
      box-sizing: border-box;
      border: 5px solid white;
      filter: drop-shadow(5px 5px 0.5em lightgray);
      overflow: hidden;
  }
  .aboutus_item .aboutus_photo img{
      width: 100%;
      vertical-align: bottom;
  }
  .aboutus_item .aboutus_photo img:hover{
    transition: 0s;
    transform: scale(1);
}
  .aboutus_item .photo_text{
      width:100%;
      font-size: 20px;
      flex-grow: 1;
      text-align: center;
      font-family: 'Playfair Display', serif;
      padding:10px 0px 20px 0px;
      color: #816D6D;
      margin: 0;
  
  }
  .aboutus_content .aboutus_item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
  }
  .aboutus_item .leaf_pic{
      width: 30%;
      position: absolute;
      top: -5%;
      left: -25%;
      transform: rotate(20deg);
      
  }
  .aboutus_item .leaf_pic img{
      width: 100%;
  }
  .aboutus_item .leaf_photo{
      width: 40%;
      position: absolute;
      bottom: -10%;
      right: -10%;
      transform: rotate(220deg);
  }
  .aboutus_item .leaf_photo img{
      width: 100%;
  }
  
  .owl-carousel{
    width: 100%;
    background-color: #DCD2C3;
  }
  .bestseller{
    background-color: #DCD2C3;
  }
  .bestseller h1{
    text-align: center;
    padding: 5% 0%;
    background-color: #DCD2C3;
    width: 100%;
    font-size: 40px;
    color: #FEF3F3;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 10%;
  }
  .bestseller_slider{
    width: 80%;
    margin: auto;
    padding: 5% 5% 0% 5%;
    box-sizing: border-box;
  }
  .owl-stage-outer{
    margin: auto;
    width: 100%;
  }
  .owl-theme .owl-dots .owl-dot span {
    background-color: #fff;
  }
  .owl-carousel .slider_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    border: 10px solid white;
    background-color: #fff;
  }
  .slider_content .heart{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #b6a286;
    cursor: pointer;
    transition: 0s;
  }
  .slider_content .heart:hover{
    transition: 0s;
    color: #b6a286;
  }
  .slider_content .share{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: black;
    cursor: pointer;
  }
  .owl-dots{
    padding-bottom: 5%;
  }
  .maintain_backgroundwrap{
    width: 100%;
    background-color: #fff;
    padding-top: 100px;
  }
  .maintain_wrap{
    width: 80%;
    margin: auto;
    max-width:768px;
  }
  .maintain_title{      
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .maintain_title span{
    font-size: 60px;
    display: inline-block;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    position: relative;
    z-index: 0;
    color: #684139;
    transform: translateX(-80px);
    letter-spacing: 5px;
  }

  .maintain_title .maintain_pic{
    width: 100%; 
    position: absolute;
    top: -10%;
    left: 84%;
    z-index: 0;
  }
  .maintain_title .maintain_pic img{
    width: 100%;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray;
  }
  .maintain_subtitle{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    transform: translateX(3px);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin: auto;
  }
  .maintain_subtitle .subtitle_item{
    display: flex;
    justify-content: start;
  }
  .subtitle_item .subtitle_pic {
    width: 100%;
    min-width: 150px;
  }
  .subtitle_item .subtitle_pic img{
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray;
  }
  .subtitle_item .subtitle_text{
    font-size: 60px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: right;
    width: 50%;
    /* // */
    color: #684139;
    position: relative;
    z-index: 1;
    transform: translateX(-20px);
    letter-spacing: 5px;
  }
  .subtitle_item .subtitle_photo img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray;
  }
  .maintain_subtitle .photo{
    position: relative;
  }
  .maintain_subtitle .subtitle_photo{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
  }
  .maintain_backgroundwrap .maintain_content_title{
    font-size: 26px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    display: block;
    padding: 50px 0%;
    font-weight: bolder;
  }
  .maintain_content{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .maintain_contetnt_item{
    padding-left: 0px;
  }
  .maintain_content_info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .maintain_content_info .num{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 30px;
    height: 40%;
    
  }
  .maintain_content_info .title{
    font-size: 17px;
    font-family: 'Playfair Display', serif;
    height: 30%;
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  .maintain_content_info .text{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    height: 30%;
  }
  .footer_bannerwrap{
    width: 100%;
    background-color: #B6A286;
    padding: 50px 0px;
  }
  .footer_wrap{
    width: 80%;
    margin: auto;
    max-width:768px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer_item{
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .footer_item .brandstory .brandstory_title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: left;
    padding: 20px 0px;
  }
  .footer_item .brandstory .brandstory_content{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: left;
  }
  .footer_aboutus .title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    padding: 20px 0px;
    text-align: left;
  }
  .footer_aboutus nav li{
    list-style: none;
    /* background-color: red; */
    /* border: 1px solid black; */
    margin: 5px 0px;
  }
  .footer_aboutus nav li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #000000;
    transition: 0s;
    margin: 10px 0px;
  }
  .footer_aboutus nav li a:hover{
    color: black;
    transition: 0s;
  }
  .footer_business .business_title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    padding: 20px 0px;
    text-align: left;
  }
  .footer_business .business_info{
    color: #000000;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
  }
  .footer_business .business_content{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #000000;
    padding-bottom: 5px;
  }
  .footer_business .footer_icon{
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
  .footer_icon .ins,.fb{
    width: 10%;
    color: #000000;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    transition: 0s;
  }
  .footer_icon .ins:hover{
    color: black;
    transform: rotate(0deg);
    transition: 0s;
  }
  .footer_icon .fb:hover{
    color: black;
    transform: rotate(0deg);
    transition: 0s;
  }
  .footer_bannerwrap .topbutton{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10%;
    right: 20px;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: block;
    z-index: 99999;
  }
  .footer_bannerwrap .topbutton:hover{
    transition: 0s;
    background-color: transparent;
    color: initial;
  }
  .declaration{
    width: 80%;
    margin: auto;
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
  }
}

  /* -----------------RWD(1024)----------------- */
  @media screen and (min-width:769px) and (max-width:1080px){
    .logo_wrap{
      max-width: 1024px;
      /* border: none; */
    }
    .logo_list li a {
      white-space: nowrap;
    }
    .logo_story{
      max-width: 1024px;
    }
    .aboutus_content{
      max-width: 1024px;
    }
    .owl-carousel .slider_content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      border: 5px solid white;
      background-color: #fff;
  }
    .slider_content .heart {
      font-family: 'Playfair Display', serif;
      font-size: 16px;
      color: #b6a286;
      cursor: pointer;
      transition: 0s;
  }
  .slider_content .heart:hover{
    transition: 0s;
    color: #b6a286;
  }
    .slider_content .share {
      font-family: 'Playfair Display', serif;
      font-size: 16px;
      color: black;
      cursor: pointer;
  }
    .maintain_wrap{
      max-width: 1024px;
    }
    .maintain_title span {
      font-size: 100px;
      display: inline-block;
      font-family: 'Cinzel Decorative', cursive;
      text-align: center;
      position: relative;
      z-index: 0;
      color: #684139;
      transform: translateX(-100px);
      letter-spacing: 5px;
  }
    .maintain_title .maintain_pic {
      width: 100%;
      position: absolute;
      top: -10%;
      left: 80%;
      z-index: 0;
    }
    .maintain_title .maintain_pic img {
      width: 85%;
      vertical-align: top;
      border-radius: 20px;
      box-shadow: 5px 5px 5px lightgray;
    }
    .subtitle_item .subtitle_text {
      font-size: 100px;
      font-family: 'Cinzel Decorative', cursive;
      text-align: center;
      color: #684139;
      position: relative;
      z-index: 1;
      transform: translateX(-20%);
      letter-spacing: 5px;
  }
  .maintain_subtitle .subtitle_photo {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
    .subtitle_item .subtitle_pic {
      width: 100%;
      position: relative;
      right: -150px;
    }
    .subtitle_item .subtitle_pic img {
      width: 60%;
      border-radius: 20px;
      box-shadow: 5px 5px 5px lightgray;
  }  
    .subtitle_item .subtitle_photo img {
      width: 85%;
      border-radius: 20px;
      box-shadow: 5px 5px 5px lightgray;
  }
  .maintain_backgroundwrap .maintain_content_title {
    font-size: 40px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    display: block;
    padding: 50px 0%;
  }
  .maintain_content_info .num {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 50px;
    height: 40%;
}
.maintain_content_info .title {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  height: 30%;
  box-sizing: border-box;
}
.maintain_content_info .text {
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  height: 30%;
}
.footer_wrap{
  max-width: 1024px;
}
.footer_item .brandstory .brandstory_title{
  font-size: 28px;
}
.footer_item .brandstory .brandstory_content{
  font-size: 14px;
}
.footer_aboutus .title{
  font-size: 28px;
}
.footer_aboutus nav li{
  list-style: none;
  /* background-color: red; */
  /* border: 1px solid black; */
  margin: 5px 0px;
}
.footer_aboutus nav li a{
  font-size: 20px;
}
.footer_aboutus nav li a:hover{
  color: black;
  transition: 0s;
}
.footer_business .business_title{
  font-size: 28px;
}
.footer_business .business_info{
  font-size: 16px;
}
.footer_business .business_content{
  font-size: 12px;
}
.footer_icon .ins,.fb{
  width: 10%;
  color: #000000;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  transition: 0s;
}
.footer_icon .ins:hover{
  color: black;
  transform: rotate(0deg);
  transition: 0s;
}
.footer_icon .fb:hover{
  color: black;
  transform: rotate(0deg);
  transition: 0s;
}
}