*{
    margin: 0;
    padding: 0;
}
.bannerwrap{
    width: 100%;
    height: 90vh;
    background-image: url(../flowerpic/location_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
}

.logo_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    height: 10vh;
    padding: 15px 0px;
    margin: auto;
    border-bottom: 1px solid black;
}
.logo_pic{
    width: 80%;
    transform:translateX(-50px) ;
    
}
.logo_pic img{
    width: 100%;
}
.logo_navbar .logo_list{
    display: flex;
}
.logo_navbar button{
  display: none;
}
.logo_navbar .hamburger_wrap{
  display: none;
}
.logo_list li{
    list-style: none;
}
.logo_list li a{
    text-decoration: none;
    color: #4A4B3B;
    padding: 0px 10px;
    font-family: 'Playfair Display', serif;
}
.logo_list li a:hover{
    font-style: italic;
    color: #4A4B3B;
    filter:drop-shadow(1px 1px 1px gray) ;
    transition: .3s ease-in;
 }
.FAQ_wrap{
    width: 100%;
    background-color: #F1EDE5;
    overflow: hidden;
}
.FAQ_wrap .FAQ_title{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 15% 0% 5% 0%;
}
.FAQ_wrap .FAQ_title h1{
    font-size: 100px;
    letter-spacing: 1rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    position: relative;
    font-weight: lighter;
}
.FAQ_pic{
    width: 160%;
    position: absolute;
    bottom: -5%;
    left: 40%;
}
.FAQ_pic img{
    width: 100%;
}
.question_Wrap{
    padding-bottom: 10%;
}
.question_content{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.question_content .question_item{
    width: 50%;
}
.question_content .question_list{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: white; 
    padding: 10% 5%; 
    box-shadow: 3px 3px 3px lightgray;
    box-sizing: border-box;
}
.question_item .list_title{
    color: #4A4B3B;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2%;
    font-weight: bold;
    letter-spacing: 3px;
}
.question_item .list_text{
    color: #4A4B3B;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5%;
    letter-spacing: 1px;
}
.question_item .question_pic{
    width: 80%;
    position: relative;
    transform: rotate(-10deg);
    box-shadow: 1px 1px 1px lightgray;
    border: 1px solid lightgray;
    padding: 5px;
    background-color: white;

}
.question_item .question_pic img{
    width: 100%;
    /* padding: 3%; */
    
    vertical-align: bottom;
}
.question_item .question_photo{
    width: 70%;
    position: absolute;
    top: 70%;
    left: 40%;
    transform: rotate(25deg);
    box-shadow: 1px 1px 1px lightgray;
    border: 1px solid lightgray;
    padding: 5px;
    background-color: white;

}
.question_item .question_photo img{
    width: 100%;
}
.location_title{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 5%;
}
.location_title h1{
    font-size: 100px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.5rem;
}
.loaction_wrap{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding-bottom: 5%;
}
.loaction_wrap:nth-child(odd) {
    flex-direction: row-reverse;
}
.location_item{
    width: 50%;
}
.location_item .location_pic{
    width: 100%;
    overflow: hidden;
}
.location_item .location_pic img{
    width: 100%;
    transition: 1s;
    transform: scale(1);
}
.location_pic img:hover{
    transition: 1s;
    transform: scale(1.5);
}
.location_item .location_text_wrap{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
}
.location_item .location_text_wrap .location_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.location_item .location_text_wrap .location_text h3{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 6px;
}
.location_item .location_text_wrap .location_text p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.footer_bannerwrap{
    width: 100%;
    background-color: #B6A286;
    padding: 50px 0px;
  }
  .footer_wrap{
    width: 80%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
  }
  .footer_item{
    width: 33.33333%;
    display: flex;
    justify-content: center;
  }
  .footer_item .brandstory .brandstory_title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30px;
  }
  .footer_item .brandstory .brandstory_content{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: center;
  }
  .footer_aboutus .title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    padding-bottom: 30px;
    text-align: left;
  }
  .footer_aboutus nav li{
    list-style: none;
  }
  .footer_aboutus nav li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #000000;
    transition: .3s;
  }
  .footer_aboutus nav li a:hover{
    color: white;
    transition: .3s;
  }
  .footer_business .business_title{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    padding-bottom: 30px;
    text-align: left;
  }
  .footer_business .business_info{
    color: #000000;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
  }
  .footer_business .business_content{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #000000;
    padding-bottom: 5px;
  }
  .footer_business .footer_icon{
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
  .footer_icon .ins,.fb{
    width: 10%;
    color: #000000;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    transition: 0.3s;
  }
  .footer_icon .ins:hover{
    color: white;
    transform: rotate(15deg);
    transition: 0.3s;
  }
  .footer_icon .fb:hover{
    color: white;
    transform: rotate(15deg);
    transition: 0.3s;
  }
  .footer_bannerwrap .topbutton{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10%;
    right: 20px;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
  }
  .footer_bannerwrap .topbutton:hover{
    transition: .3s;
    background-color: black;
    color: white;
  }
  .declaration_wrap{
    background-color: #B6A286;
    width: 100%;
    padding: 20px 0px;
  }
  .declaration{
    width: 60%;
    margin: auto;
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
  }
  /* ----------------RWD------------------ */
  @media screen and (max-width:768px){
    .logo_wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 768px;
        height: 10vh;
        padding: 15px 0px;
        margin: auto;
        border-bottom: none;
      
    }
    .logo_pic{
        width: 80%;
        min-width: 200px;
        transform:translateX(-40px) ;
        
    }
    .logo_pic img{
        width: 100%;
      
    }
    .logo_navbar .logo_list{
        display: none;
    }
    #btn{
      width: 30px;
      height: 25px;
      display: block;
      position: absolute;
      top: 23px;
      right: 10px;
      transition: .5s ease-in-out;
      z-index: 99;
      cursor: pointer;
      border: none;
      background: none;
      box-sizing: border-box;
    }
    #btn span{
      display: block;
      position: absolute;
      left: 0;
      height: 5px; 
      border-radius: 10px;
      width: 100%;
      background: #B6A286;;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }
    
    #btn span:nth-child(1) {
      top: 0px;
    }
    #btn span:nth-child(2) {
      top: 10px;
    }
    #btn span:nth-child(3) {
      bottom: 0px;
    }
    #btn.open span:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }
    #btn.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    #btn.open span:nth-child(3) {
      top: 10px;
      transform: rotate(-135deg);
    }
    #hamburger_menu {
        display: block;
        width: 50%;
        height: 100vh;
        background-color:#DCD2C3;
        position: fixed;
        top: 0px;
        transition: right 1s;
        right: -50%;
        z-index: 9;
    }
    #hamburger_menu.open {
        right: 0;
    }
    .hamburger_wrap .hamburger_list{
      list-style: none;
      text-align: center;
      padding: 10px 10px;
      border-top:2px solid white;
      box-sizing: border-box;
    }
    .hamburger_wrap .hamburger_list:first-child{
      border-top: none;
      margin: 73px 0px 0px 0px;
    }
  .hamburger_wrap .hamburger_list a{
    text-decoration: none;
    font-size: 14px;
    color:#4A4B3B;
    font-family: 'Playfair Display', serif;
  }
    .logo_list li{
        list-style: none;
    }
    .logo_list li a{
        text-decoration: none;
        color: #4A4B3B;
        padding: 0px 10px;
        font-family: 'Playfair Display', serif;
    }
    .logo_list li a:hover{
        font-style: italic;
        color: #4A4B3B;
        filter:drop-shadow(1px 1px 1px gray) ;
        transition: .3s ease-in;
     }
    .FAQ_wrap{
        width: 100%;
        background-color: #F1EDE5;
        overflow: hidden;
    }
    .FAQ_wrap .FAQ_title{
        width: 80%;
        max-width: 768px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 50px 0% 15px 0%;
    }
    .FAQ_wrap .FAQ_title h1{
        font-size: 50px;
        letter-spacing: 1rem;
        font-family: 'Playfair Display', serif;
        text-align: center;
        position: relative;
        font-weight: lighter;
    }
    .FAQ_pic{
        width: 70%;
        position: absolute;
        bottom: 15%;
        left: 50%;
    }
    .FAQ_pic img{
        width: 100%;
    }
    .question_Wrap{
        padding-bottom: 10%;
    }
    .question_content{
        width: 90%;
        max-width: 768px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .question_content .question_item{
        width: 50%;
        margin: auto;
    }
    .question_content .question_list{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: white; 
        padding: 10px; 
        box-shadow: 3px 3px 3px lightgray;
        box-sizing: border-box;
    }
    .question_item .list_title{
        color: #4A4B3B;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 2%;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .question_item .list_text{
        color: #4A4B3B;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 5%;
        letter-spacing: 1px;
    }
    .question_item .question_pic{
        width: 80%;
        position: relative;
        transform: rotate(-10deg);
        box-shadow: 1px 1px 1px lightgray;
        border: 1px solid lightgray;
        padding: 5px;
        background-color: white;
    }
    .question_item .question_pic img{
        width: 100%;
        background-color: white;
        vertical-align: bottom;
    }
    .question_item .question_photo{
        width: 70%;
        position: absolute;
        top: 70%;
        left: 40%;
        transform: rotate(25deg);
        box-shadow: 1px 1px 1px lightgray;
        border: 1px solid lightgray;
        padding: 5px;
        background-color: white;
    
    }
    .question_item .question_photo img{
        width: 100%;
    }
    .location_title{
        width: 80%;
        max-width: 768px;
        margin: auto;
        padding-bottom: 5%;
    }
    .location_title h1{
        font-size: 50px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-weight: lighter;
        letter-spacing: 0.5rem;
        padding: 50px 0px 15px 0px;
    }
    .loaction_wrap{
        width: 80%;
        max-width: 768px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
    }
    .loaction_wrap:nth-child(odd) {
        flex-direction: row-reverse;
        flex-direction: column;
    }
    .location_item{
        width: 100%;
    }
    .location_item .location_pic{
        width: 100%;
        overflow: hidden;
        padding: 0 0 15px;
    }
    .location_item .location_pic img{
        width: 100%;
        transition: 0s;
        transform: none;
    }
    .location_pic img:hover{
        transition: 0s;
        transform: none;
    }
    .location_item .location_text_wrap{
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        /* justify-content: center; */
        align-items: center; 
    }
    .location_item .location_text_wrap .location_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .location_item .location_text_wrap .location_text h3{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        padding-bottom: 6px;
    }
    .location_item .location_text_wrap .location_text p{
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }
    .footer_bannerwrap{
        width: 100%;
        background-color: #B6A286;
        padding: 50px 0px;
      }
      .footer_wrap{
        width: 80%;
        margin: auto;
        max-width:768px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .footer_item{
        width: 100%;
        display: flex;
        justify-content: start;
      }
      .footer_item .brandstory .brandstory_title{
        font-size: 32px;
        font-family: 'Playfair Display', serif;
        color: #FFFFFF;
        text-align: left;
        padding: 20px 0px;
      }
      .footer_item .brandstory .brandstory_content{
        font-size: 16px;
        font-family: 'Playfair Display', serif;
        color: #FFFFFF;
        text-align: left;
      }
      .footer_aboutus .title{
        font-size: 32px;
        font-family: 'Playfair Display', serif;
        color: #FFFFFF;
        padding: 20px 0px;
        text-align: left;
      }
      .footer_aboutus nav li{
        list-style: none;
        /* background-color: red; */
        /* border: 1px solid black; */
        margin: 5px 0px;
      }
      .footer_aboutus nav li a{
        text-decoration: none;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        color: #000000;
        transition: 0s;
        margin: 10px 0px;
      }
      .footer_aboutus nav li a:hover{
        color: black;
        transition: 0s;
      }
      .footer_business .business_title{
        font-size: 32px;
        font-family: 'Playfair Display', serif;
        color: #FFFFFF;
        padding: 20px 0px;
        text-align: left;
      }
      .footer_business .business_info{
        color: #000000;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        padding-bottom: 5px;
      }
      .footer_business .business_content{
        font-size: 16px;
        font-family: 'Playfair Display', serif;
        color: #000000;
        padding-bottom: 5px;
      }
      .footer_business .footer_icon{
        display: flex;
        justify-content: center;
        padding-top: 5px;
      }
      .footer_icon .ins,.fb{
        width: 10%;
        color: #000000;
        padding: 10px;
        font-size: 24px;
        text-align: center;
        transition: 0s;
      }
      .footer_icon .ins:hover{
        color: black;
        transform: rotate(0deg);
        transition: 0s;
      }
      .footer_icon .fb:hover{
        color: black;
        transform: rotate(0deg);
        transition: 0s;
      }
      .footer_bannerwrap .topbutton{
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 10%;
        right: 20px;
        font-size: 24px;
        line-height: 40px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 50%;
        text-align: center;
        display: block;
        z-index: 99999;
      }
      .footer_bannerwrap .topbutton:hover{
        transition: 0s;
        background-color: transparent;
        color: initial;
      }
      .declaration{
        width: 80%;
        margin: auto;
        font-size: 12px;
        display: block;
        color: white;
        text-align: center;
      }
  }
   /* -----------------RWD(1024)----------------- */
   @media screen and (min-width:769px) and (max-width:1080px){
    .logo_wrap{
      max-width: 1024px;
      /* border: none; */
    }
    .logo_list li a {
      white-space: nowrap;
    }
    .FAQ_wrap .FAQ_title {
      max-width: 1024px;
    }
    .loaction_wrap {
      max-width: 1024px;
    }
    .footer_wrap{
      max-width: 1024px;
    }
    .footer_item .brandstory .brandstory_title{
      font-size: 28px;
    }
    .footer_item .brandstory .brandstory_content{
      font-size: 14px;
    }
    .footer_aboutus .title{
      font-size: 28px;
    }
    .footer_aboutus nav li{
      list-style: none;
      /* background-color: red; */
      /* border: 1px solid black; */
      margin: 5px 0px;
    }
    .footer_aboutus nav li a{
      font-size: 20px;
    }
    .footer_aboutus nav li a:hover{
      color: black;
      transition: 0s;
    }
    .footer_business .business_title{
      font-size: 28px;
    }
    .footer_business .business_info{
      font-size: 16px;
    }
    .footer_business .business_content{
      font-size: 12px;
    }
    .footer_icon .ins,.fb{
      width: 10%;
      color: #000000;
      padding: 10px;
      font-size: 24px;
      text-align: center;
      transition: 0s;
    }
    .footer_icon .ins:hover{
      color: black;
      transform: rotate(0deg);
      transition: 0s;
    }
    .footer_icon .fb:hover{
      color: black;
      transform: rotate(0deg);
      transition: 0s;
    }
   }