*{
    margin: 0;
    padding: 0;
}
.bannerwrap{
    width: 100%;
    background-color: #F1EDE5;
}

.logo_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 10vh;
    padding: 15px 0px;
    margin: auto;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.logo_pic{
    width: 80%;
    transform:translateX(-50px) ;
    
}
.logo_pic img{
    width: 100%;
    overflow: hidden;
}
.logo_navbar .logo_list{
    display: flex;
}
.logo_list li{
    list-style: none;
}
.logo_list li a{
    text-decoration: none;
    color: #4A4B3B;
    padding: 0px 10px;
    font-family: 'Playfair Display', serif;
}
.sigin_wrap{
    width: 80%;
    margin: auto;
    padding: 5% 0%;
}
.sigin_pic{
    background-image: url(/flowerpic/login_pic.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sigin_pic .sigin{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    /* filter: drop-shadow(1px 1px 5px black); */
    box-shadow: 3px 3px 3px lightgray;
    position: relative;
}
.sigin .sigin_content{
    width: 80%;
    margin: auto;
}
.sigin .sigin_title{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding: 5% 0% ;
    text-align: center;
}
.sigin .typing{
    background-color: #DCD2C3;
    padding: 5% 0%;
    border: 1px solid transparent;
    font-size: 20px;
}
.sigin .account{
    padding-bottom: 2%;
}
.sigin .username{
    padding-bottom: 2%;
}
.sigin .password{
    padding-bottom: 2%;
}
.sigin label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input.typing{
    border-radius: 10px;
}
::placeholder{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding-left: 5%;
}
.sigin_content .sigin_rightarrow_wrap{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    transform: translateX(15%);
    padding: 2% 0%;
}
.sigin_rightarrow_wrap .sigin_rightarrow button{
    border: 0;
    cursor: pointer;
    padding: 2% 0%;
    font-size: 20px;
}
.sigin_content a{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-bottom: 2%;
    text-decoration: none;
    color: #000000;
}
.sigin_content .sigin_iconwrap{
    display: flex;
    justify-content: center;
    padding: 5%;;
}
.sigin_content .sigin_icon{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.sigin_leaf{
    width: 50%;
    position: absolute;
    bottom: -25%;
    right: -25%;
}
.sigin_leaf img{
    width: 100%;
}
.footer_bannerwrap{
    width: 100%;
    background-color: #B6A286;
    padding: 5% 0%;
  }
  .footer_wrap{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  .footer_item{
    width: 33.3%;
    display: flex;
    justify-content: center;
  }
  .footer_item .brandstory .brandstory_title{
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 5%;
  }
  .footer_item .brandstory .brandstory_content{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: center;
  }
  .footer_aboutus .title{
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    padding-bottom: 5%;
    text-align: left;
  }
  .footer_aboutus nav li{
    list-style: none;
  }
  .footer_aboutus nav li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #000000;
  }
  .footer_business .business_title{
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    padding-bottom: 5%;
    text-align: left;
  }
  .footer_business .business_info{
    color: #000000;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
  }
  .footer_business .business_content{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #000000;
  }
  .footer_business .footer_icon{
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }
  .footer_icon .ins,.fb{
    width: 10%;
    color: #000000;
    padding: 2%;
    font-size: 24px;
    text-align: center;
  }

